@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

//colors
$red: hsl(0, 100%, 68%);
$veryDarkBlue: hsl(230, 29%, 20%);
$darkGrayishBlue: hsl(230, 11%, 40%);
$grayishBlue: hsl(231, 7%, 65%);
$lightGrayishBlue: hsl(207, 33%, 95%);
$white: rgb(255, 255, 255);

//font
$mainFont: "Barlow Condensed", sans-serif;
$bodyFont: "Barlow", sans-serif;

//font-sizes
$font-normal: 1rem;
$font-md: 18px;
$font-lg: 2.5rem;

//media breakpoints
$mediaBreakpoints: ("mobile": "375px", "tablet": "768px", "desktop": "1200px");